/* 3 image section*/

.odd-wrapper {
  background: #efe7da;
}

.title-piece {
  font-size: 60px;
  line-height: 55px;
  font-style: bold;
  vertical-align: top;
  font-family: "Playfair";
  padding-left: 1em;
}

.vintage-col-adjustable {
  width: 50%;
  text-align: right;
  margin-right: auto;
}

.bottom-text-links {
  text-align: left;
  margin-left: 1em;
}

.standing-working-img img {
  width: 100%;
}

.desk-stability-img img {
  width: 100%;
  margin-right: auto;
}
