.grey-quote {
  background: #4d4d56;
  color: #edebed;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Playfair";
  margin-top: 2em;
  line-height: 40px;
  width: 100%;
}

.grey-quote h4 {
  text-align: right;
  font-weight: bold;
  padding-right: 3em;
}

.grey-quote-text {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding: 1em;
}
