<div class="grid-x grid-margin-x double-quote-overall">
  <div class="large-6 medium-6 cell side-border">
    <div class="primary quote-two">
      "This sleek stand-out is easy to adjust up and down, and its natural bamboo surface is a reminder of what some ergonomic furniture makers have forgotten: A desk should be beautiful."
    </div>
  </div>
  <div class="large-6 medium-6 cell">
    <div class="primary quote-two">
      "Its design is perfectly simple. The Terra is very minimalist and looks like something Jony Ive would build. It's a desk that you can proudly put in your den rather than hide away in the corner of your house."
    </div>
  </div>
</div>
      <div class="grid-x grid-margin-x">
  <div class="large-6 medium-6 cell">
    <div class="primary double-logo side-border">
      <img src = "assets/img/wired.svg">
    </div>
  </div>
  <div class="large-6 medium-6 cell">
    <div class="primary double-logo">
      <img src = "assets/img/cult-of-mac.svg">
    </div>
  </div>
</div>
<div class = "more-accolades">
    <img src= "/assets/img/right-arrow-black.svg"> &nbsp;More Accolades
</div>
