<div class="large-12 cell pov">
  Every Xdesk expresses its <br> own point of view.
</div>
<div class = "grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-6 medium-6 cell">
        <div class="primary ">
          <div class = "standing-storage"><img src = "assets/img/standing-desk-storage.jpg"></div>
        </div>
      </div>
      <div class="large-6 medium-6 small-4 cell">
        <div class="primary side-text right-side-text">
          Life is best when filled with great design. Beyond useful. These design objects give meaning to a space. And a spark to one's emotions. Xdesk delivers a confident demeanor and strong character. An uncompromising declartion of individuality. You can feel it.
        </div>
      </div>
      <div class="large-6 medium-6 small-4 cell">
        <div class="primary side-text left-side-text">
          In a world where fewer and fewer things are made by people that like making, we're excited to make furniture for you the same way as our forefathers. By hand.
        </div>
      </div>

      <div class="large-6 medium-6 cell">
        <div class="primary bring-up">
      <div class = "adj-storage"><img src = "assets/img/adjustable-desk-storage.jpg" class = "bring-up"></div>
        </div>
      </div>
</div>
      </div>
