
<div class="grid-x grid-padding-x" id =  "my-responsive-footer">
  <div class="cell small-2">
    <h6>Xdesk</h6>
      <ul>
        <li>Adjustable Height Desk</li>
        <li>Standing Desk</li>
        <li>Reviews</li>
        <li>Shop</li>
      </ul></div>
  <div class="cell small-2">
    <h6>About</h6>
      <ul>
        <li>Our Story</li>
        <li>American craft</li>
        <li>Environment</li>
        <li>Blog</li>
        <li>How It's Made</li>
        <li>About</li>
      </ul></div>
  <div class="cell small-2">
    <h6>Help</h6>
    <ul>
      <li>Support</li>
      <li>Downloads</li>
      <li>Contract</li>
    </ul>
  </div>
    <div class="cell small-2">&nbsp;</div>
      <div class="cell small-2 low-down"><img src = "assets/img/handcrafted.png"></div>
        <div class="cell small-2 low-down"><img src = "assets/img/made-in-usa.svg"</div>
</div>
