  <div class="row expanded collapse">
    <div class="column">
      <div class="second-large-article-header">
        <div class="large-article-header-content">
          <div class="center-container">
            <div class="article-title">
              <h1>Design with Passion <br> Makes a Desk with Soul</h1>
            </div>
            <div class="article-subtitle">
              <h3>The Core of Our Design Philosophy</h3>
            </div>
                        <div class="grid-x grid-margin-x">
              <div class="large-image-learn medium-6 learn-more">
                <a href="#"><img src = "assets/img/right-arrow-white.svg">&nbsp;&nbsp;Learn More</a>
              </div>
              <div class="large-image-video medium-6">
                <a href="#"><img src = "assets/img/play-button.svg">&nbsp;&nbsp;Watch the film</a>
              </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
