<!-- <div class>
  <table class = "odd-wrapper">
    <tbody>
      <tr>
<td class = "title-piece">See How Design Defines Us</td>
<td class = "vintage-col-adjustable"><img src = "assets/img/vintage-2column-adjustable.jpg"></td>
</tr>
<tr>
<td class = "standing-working-img"><img src = "assets/img/standing-working.jpg"></td>
</tr>
<tr>
<td class = "bottom-text-links">The Xdesk design is classic, steeped in tradition and eminently practical. The beauty that lies in sculpted aluminum or time worn patina pleases, excites and invites.
</td>
<td class = "desk-stability-img"><img src = "assets/img/desk-stability.jpg"></td>
</tr>
  </tbody>
</table>
</div> -->
<!-- <div class = "grid-container">
    <div class="grid-x grid-margin-x">
<div class="row align-right">
  <div class="small-6 column title-piece">See How Design Defines Us</div>
  <div class="small-6 column vintage-col-adjustable"><img src = "assets/img/vintage-2column-adjustable.jpg"></div>
</div>

<div class="row align-left">
  <div class="small-6 column standing-working-img"><img src = "assets/img/standing-working.jpg"></div>
</div>

<div class="row align-justify">
  <div class="small-6 column bottom-text-links">The Xdesk design is classic, steeped in tradition and eminently practical. The beauty that lies in sculpted aluminum or time worn patina pleases, excites and invites.
</div>
  <div class="small-6 column desk-stability-img"><img src = "assets/img/desk-stability.jpg"></div>
</div>
</div>
</div> -->
